/* General */

body {
    background-color: #E6E7E9;
    font-family: "Roboto";
    color: var(--font-color);
}
.cv {
    margin: auto;
    width: 1280px;
    height: 1700px;
    background-color: white;
}
p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}
h1 {
    font-size: 40px;
    color: #1C9FEC;
    letter-spacing: 4px;
}
h3 {
    font-size: 25px;
    letter-spacing: 3px;
}
h1, h3, .place, .software, .ref-name {
    text-transform: uppercase;
}
.cv-title {
    background-color: #E0E1E3;
    height: 50px;
    padding: 10px;
}

/* Aside Bar */

.left-bar {
    display: block;
    margin: 30px;
    float: left;
    background-color: #E0E1E3;
    height: 1500px;
    width: 400px;
}
.left-bar img {
    display: block;
}
.contacts-menu {
    list-style: none;
    color: white;
}
.contacts-item {
    position: relative;
    width: 100%;
    height: 60px;
}
.contacts-item:first-child {
    background-color: #1C578F;
}
.contacts-item:nth-child(2) {
    background-color: #1C6EB8;
}
.contacts-item:last-child {
    background-color: #1D8BD8;
}
.contacts-item img {
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
}
.contacts-item span {
    position: absolute;
    margin-left: 120px;
    margin-top: 5%;
}
.personal {
    display: flex;
}
.colon::before {
    content: ":";
    color: #727375;
    margin-right: 20px;
    margin-left: 20px;
}
.skills {
    display: flex;
}
.progress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.prog-bar {
    width: 220px;
    height: 5px;
    background-color: #AAAAAC;
}
.prog-bar .communication {
    position: absolute;
    width: 200px;
    height: 5px;
    background-color: #1CA0ED;
}
.prog-bar .creativity {
    position: absolute;
    width: 190px;
    height: 5px;
    background-color: #1CA0ED;
}
.prog-bar .teamwork {
    position: absolute;
    width: 185px;
    height: 5px;
    background-color: #1CA0ED;
}
.prog-bar .organizational {
    position: absolute;
    width: 180px;
    height: 5px;
    background-color: #1CA0ED;
}
.prog-bar .leadership {
    position: absolute;
    width: 160px;
    height: 5px;
    background-color: #1CA0ED;
}
.prog-bar .teamplayer {
    position: absolute;
    width: 160px;
    height: 5px;
    background-color: #1CA0ED;
}

/* header */

header {
    width: 100%;
    height: 350px;
    padding: 60px;
}
header h3, header p {
    margin-top: 10px;
}

/* Main part */
.exp-edu {
    display: flex;
    flex-direction: column;
}
.hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon img {
    width: 80px;
    height: 80px;
}